* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 300px;
  margin-top: 150px;
}

h1,
p,
li {
  color: #555;
}

h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
}

input {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  padding: 8px 15px;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

input:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 5px rgba(106, 112, 114, 0.39);
  outline: 0 none;
}

p {
  font-size: 0.8rem;
  margin-left: 15px;
}

ul {
  list-style: none;
}

li {
  background: #fff;
  border-radius: 8px;
  width: 100%;
  padding: 8px 15px;
  margin: 5px 0;
}

@media (max-width: 600px) {
  .container {
    margin-top: 60px;
  }
}
